.getintouch-banner{
    position: absolute;
    width: 1728px;
    height: 924px;
    left: 0px;
    top: 134px;
}
.getintouch-leaf img{
    position: centre;
    width: 1728px;
    height: 924px;
    left: 0px;
    top: 134px;
}